@model Question
@{
    ViewData["Title"] = "AddQuestionForm";
}

<h1>Add Question</h1>

<form method="post" action="/Question/SaveQuestion">
    Id-hidden
    username
    Title
    Detail
    Posted-hidden
    category
    tags
    status-hidden
    <input type="submit" />
</form>